.about {
    width: 99vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 5rem 54rem 28.5rem;
    direction: rtl;
    background-image: url('../../assets/16.png');
    background-repeat: no-repeat;
    transition: ease-in-out;
    background-position-y: bottom;
    background-blend-mode: soft-light;
    background-size: 38rem;
}

.about > div:not(:last-child) {
    display: flex;
    align-content: center;
    flex-direction: column;
    direction: ltr;
    background-color: rgba(0,0,0,0);
    padding-top: 2rem;
}

.about > div:last-child {
    margin-top: 1rem;
    background: none;
    direction: ltr;
}

.about > div:last-child > span {
    color: #DEBB00 !important; 
}

.about > div:last-child > span > span {
    color: #DEBB00 !important; 
}

.about > div:last-child > a {
    color: #DEBB00 !important; 
}

.about > div:not(:last-child) > div {
    background: none;
}

.about > div:not(:last-child) > div > p {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    margin: 0;
    text-align: left;
    background-color: rgba(0,0,0,0);
    transition: 2s;
    color: #DEBB00;
}

.about > div:not(:last-child) > div:not(:first-child) > p {
    color: #ffffff;
    font-size: 0.875rem;
    text-align: justify;
    padding-top: 1.25rem;
    font-weight: 300;
}

.about > div:not(:last-child) > div:nth-child(2) > p:first-child {
    text-align: right;
}

.about > div:not(:last-child) > div:nth-child(2) {
    padding-bottom: 2rem;
    border-bottom: #ffff dashed 0.1rem;
}

.about > div:not(:last-child) > div:nth-child(3) {
    display: flex;
    justify-content: flex-start;
}

.about > div:not(:last-child) > div:nth-child(3) > p {
    color: #DEBB00;
    font-size: 1rem;
    font-weight: 300;
}

.about > div:not(:last-child) > div:nth-child(3) > p:first-child {
    min-width: 5rem;
    padding-right: 1.25rem;
    height: 2rem;
    align-self: center;
    font-weight: 700;
    transform: rotate(-90deg);
}

.about > div:not(:last-child) > div:nth-child(3) > p:last-child {
    width: 30rem;
}

.about > div:not(:last-child) > div:nth-child(3) > p:last-child > b {
    font-weight: 700;
}

.about > div:not(:last-child) > div:nth-child(4) {
    display: flex;
    justify-content: flex-end;
}

.about > div:not(:last-child) > div:nth-child(4) > div {
    margin-top: 3rem;
    display: flex;
    width: 35rem;
    border: #DEBB00 solid 0.05rem;
    height: 11.5rem;
    justify-content: space-between;
}

.about > div:not(:last-child) > div:nth-child(4) > div > img {
    height: 11.45rem;
    object-fit: contain;
    align-content: center;
    margin-left: 1rem;
}

.about > div:not(:last-child) > div:nth-child(4) > div > p {
    padding: 0.5rem;
    color: white;
    font-size: 1rem;
    font-weight: 100;
}

.about > div:not(:last-child) > div:nth-child(4) > div > p > b {
    font-weight: 700;
}


/* @media only screen and (max-width: 600px) {
    .about {
        background-size: 120px;
        grid-template-columns: 80px 180px;
    }
    .about > div > div > p {
        font-size: 30px;
    }
} */