.home {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 800px;
    direction: rtl;
    background-image: url('../../assets/fa2.svg');
    background-repeat: no-repeat;
    background-position: 20px 10px;
}

.home > div {
    /* border: 1px solid grey; */
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    direction: ltr;
    background-color: rgba(0,0,0,0);
}

.home > div > div > p {
    font-size: 130px;
    font-weight: bold;
    color: white;
    margin: 0;
    text-align: right;
    background-color: rgba(0,0,0,0);
}

.home > div > div:not(:first-child) > p {
    color: #DEBB00;
}

.home > div > div > p:hover {
    transition: .3s;
    transform: translateX(-30px)
}

@media only screen and (max-width: 600px) {
    .home {
        background-size: 120px;
        grid-template-columns: 80px 180px;
    }
    .home > div > div > p {
        font-size: 30px;
    }
}